@import 'components/_home';
@import 'components/_weather';
@import 'components/_calculator';
@import 'components/_books';
@import 'components/_browser';
@import 'components/_news';

body {
  overflow: scroll;
   height: 100%;
   width: 100%;
}
