<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing</title>
    <link rel="stylesheet" type="text/css" href="landing.css" media="screen" />
</head>
<body>
    <div class='container'>
        <div class='header'>
           Header     
        </div>
        <div class='col'>
            <div class='row'>
                1
            </div>
            <div class='row'>
                2
            </div>
            <div class='row'>
                3
            </div>
        </div>
        <div class='col2'>
            <div class='row2'>
                4
            </div>
        </div>
        <div class='col'>
            <div class='row'>
                5
            </div>
            <div class='row'>
                6
            </div>
            <div class='row'>
                7
            </div>
        </div>
        <div class='footer'>
            Footer     
        </div>
    </div>
</body>
</html>